*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*********************** responsive CONTACTO GRISEDA *******************************/
/********************************************************************************/


    body{
     
        /* font-size: 11px; */
        display: grid;
        height: 160em; 
        max-width: 100%;
        height: 100vh;
        grid-template-columns: 27.45em, 26.35em, 27.45em;/*tomo como ref ancho de formulario*/
        /* grid-template-rows: 10.69em, 132.175em, 17.06em;
         */
        grid-template-rows:repeat(3, 1fr);
        grid-template-areas:"header" 
                             "main" 
                             "footer";
        /* gap: 1px; */
        background-color: #9c705d; /*color del fondo de division de columnas laterales*/
        
        
    }
    body .header{
        position: sticky;
        top: 0;
        grid-column:span 3;
        grid-row: 10.69em;
    }
    nav{
        display: flex;}
    nav ul{margin-top: 4.625em; 

    }   
        
  
   main.main-contacto{
        max-width: 100%;
        display: block;
        /* padding:3em; */
        /* grid-template-columns: 24.45em, 26.33em, 24.45em; */
        
        grid-template-rows: 6.95em, 83em, 34.44em;
        grid-template-areas: "h1" 
                             "form" 
                             "#encontrarnos";
}

    .main-contacto{
        grid-column-start: 2;
        grid-column-end: 3;
        /* grid-template-columns: 21.09em 19.47em 21.09em;
        grid-template-rows: 80.06em; */
        
    }
    /* .main-contacto h1{
        grid-column: 2/3;
        grid-row: 2/3;
        
    } */
    .main-contacto h1{
        grid-column: 2/3;
        grid-row: 3/4;
        margin-right: 2em;
    }
    .main-contacto form{
        grid-column: 2/3;
        grid-row: 3/4;
        width:26.35em ;
        margin: auto 17.65em ;
       }

    footer{
        
        grid-row: 20.04em;
        grid-column: span 3;}
    
@media screen and (min-width:768px) and (max-width: 876px){
    body .header{
        grid-column: 1/-1;}}
@media screen and (min-width: 300px)and(max-width:768px){
    body{
     
        /* font-size: 11px; */
        display: flex; 
        max-width: 100%;
        height: 100vh;
    
}main.main-contacto{
    max-width: 100vw;
    display: block;}
.menu{
    font-size: 55px;
}}






       
    
   
    



     


  


   


        
/* 
footer{
    font-size: 11px;
    display: grid;
    height: 15vh;
    width: 98%;
    grid-template-columns: 8;
    grid-gap: 10px;
    grid-column-start: 1;
    grid-column-end: 8;
    /* grid-template-areas:'figure nav'; 
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
} */

   /* header
    .header
        section #navegadorbox
        figure #logo
        nav
            ul
                li .menu .nav #menu-reserva




main .main-contacto
    h1 .h1-contacto
    form
        fieldset .fieldset-reserva
            section #titular
                h3
                label 
                input
                label
                input
                label
                input
            
            section #momento
                h3 .sub-form
                    .circulo
                        label
                        input
                        label
                        input
                    .circulo
                        label
                        input
                        label
                        input

            section #botones
                button
                button */
    /**FIN FORMULARIO*/

/* section  #encontrarnos
    article #mapa
        iframe

    article #contacto
        ul .list-con
            li
            li
        ul .list-con
            li
            li
        ul .list-con
            li
            li */