*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************** QUERIES CONTACTO GRISEDA *******************************/
/********************************************************************************/


    body{
        display: grid;
        width: 100%;
    }
    .header > #navegadorbox{
        /* font-size: 11px; */
        display: grid;
        height: 11em;
        width: 100%;
        grid-template-columns: 1/3 ;
        /* grid-template-rows: 11em; */
        grid-template-areas:'#logo nav';
        gap: 1px;
        /* background-color: #2196F3; */
        
    }
    /* figure{
        /* display: grid; 
        grid-column-start: 1;
        grid-column-end: 1;

    }
    nav{
        /* display: grid;
        grid-column-start: 2;
        grid-column-end: 3;


    } */
    .main-contacto{
        /* font-size: 15px; */
        height:auto;
        /* margin: 3em; */
        display: grid;
        padding: 0%;
        grid-template-columns:repeat(27.08, 3); /*3 verticales de 27.08 em = 433px*/
        grid-template-rows: 2/3;}

    footer{
        height:17.06em;
        grid-template-columns: repeat(27.08, 3) ;
        grid-template-rows: 17.06em;
        grid-column: span 3;}

    

    /* 
    #logo{
        grid-area:50%;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    nav{
        display: inline-grid;
        grid-area: 50%;
        flex-wrap: nowrap;
    }
    .nav{
        display: grid;
        font-size: smaller;
    }

}

@media screen and (min-width:900px)and (max-width:1124px){
    body{
        display: grid;
        min-width: 100%;
    }
.header{
font-size: 11px;
display: grid;
height: 20vh;
min-width: 100%;
grid-template-columns: 17.56 35.12 17.56;
grid-auto-rows: minmax(11em, auto);
grid-column-start: 1;
grid-column-end:7;
grid-template-areas:'img ul';
gap: 1px;
} 
#logo{
grid-area:30%;
/* grid-column-start: 2;
grid-column-end: 3; }
nav{
display: inline-grid;
grid-area: 70%;
flex-wrap: nowrap;}
.nav{
display: grid;
font-size: smaller;}

.main-contacto{
display: grid;
font-size: 12px;
height:60vh;
grid-template-columns: repeat (8.78, 8fr);

margin: 1px;
display: grid;
padding: 0%;
grid-area: "form #encontrarnos";
            /* grid-template-columns:10.71 10.71 10.71 10.71 10.71 10.71 10.71;
            grid-template-rows: 11 11 11 11 11 11 11 11 11 11 11; 
        }
.field-reserva{
min-width: 100%;
display: block;
}

#encontrarnos{
    grid-template-rows: 60%;
    }
}

@media screen and (max-width:900px){
    .header{
        font-size: 9px;
        display: grid;
        height: 18vh;
        min-width: 100%;
        grid-template-columns: 14.06 14.06 14.06 14.06;
        grid-template-rows: 11em;
        grid-column-start: 1;
        grid-column-end:7;
        grid-template-areas:'img ul';
}
    }*/



       
    
   
    



     


  


   


        
/* 
footer{
    font-size: 11px;
    display: grid;
    height: 15vh;
    width: 98%;
    grid-template-columns: 8;
    grid-gap: 10px;
    grid-column-start: 1;
    grid-column-end: 8;
    /* grid-template-areas:'figure nav'; 
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
} */

   /* header
    .header
        section #navegadorbox
        figure #logo
        nav
            ul
                li .menu .nav #menu-reserva




main .main-contacto
    h1 .h1-contacto
    form
        fieldset .fieldset-reserva
            section #titular
                h3
                label 
                input
                label
                input
                label
                input
            
            section #momento
                h3 .sub-form
                    .circulo
                        label
                        input
                        label
                        input
                    .circulo
                        label
                        input
                        label
                        input

            section #botones
                button
                button */
    /**FIN FORMULARIO*/

/* section  #encontrarnos
    article #mapa
        iframe

    article #contacto
        ul .list-con
            li
            li
        ul .list-con
            li
            li
        ul .list-con
            li
            li */